body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(181, 255, 255);
  
}

.name, .email, .message, .submit {
  margin: 2vh;
}

.message {
  width: 25vh;
  height: 5vh;
}